VITE_FEE_BPS=50
VITE_FEE_RECIPIENT=0x327F53A3D8fCb1d35fF549234a982D057aa1976C
VITE_FEE_ROUTER=0xB6bEB664d3888b8E59d816203e894012727Ea83A
VITE_SOURCE_CHAIN_ID=1
VITE_TARGET_CHAIN_ID=4663
VITE_TARGET_CHAIN_RPC=https://poptye-always-win.poptyedev.com
VITE_TARGET_CHAIN_EXPLORER=https://so-explorer.poptyedev.com
VITE_RBETH_ADDRESS=0x9c497572F6Ab96Cb6859EcDb0FBAD87F852c8F35
VITE_WETH_ADDRESS=0x0Bd7D308f8E1639FAb988df18A8011f41EAcAD73

VITE_BRIDGE_FEE_BPS=150
